<% if signed_in? %>
        <%= render 'shared/user_info', :collection => @user %>
<% end %>
<table class="profile">
        <tr>
                <td class="main">
                        <% unless @user.microposts.empty? %>
                                <table class="microposts" summary="User microposts">
                                        <% @feed_items = @user.microposts.paginate(:page => params[:page]) %>
                                        <%= render 'shared/feed' , :collection => @feed_items %>
                                </table>
                        <% end %>
                </td>
        </tr>
</table>
