.container {
  position:relative;
  width: 650px;
  font-family:Verdana,sans-serif;
  border:1px solid #336600;
  top-border:none;
  color: #fff;
}

body {
  background: #fff;
}

.menu {
        position: relative;
        right: 0px;
}

.flash {
        position:absolute;
        width: 130px;
        left: 0px;
        top: 92%;
}

div.livebook {
        font-family:Verdana,sans-serif;
        position:absolute;
        color:#336600;
        left: -180px;
        top: 2px;
}

.h_line {
        height:2px;
  color:#336600;
}

header {
  background: #336600;
  height: 40px;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Links */

a {
  color: #336600;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: blink;
}

a:visited {
  color: #069;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75px;
  text-align: center;
  color: #0066cc;
  background: #345;
  font-size: 100%;
  font-weight: bold;
  padding: 5px;
}

.menu_button {
        font-size:11px;
        font-family:Verdana,sans-serif;
        color:#FFFFFF;
        height:40px;
        background-color:#336600;
        border-style:none;
        border-color:#336600;
        font-weight:bold;
}

.comment_button {
        font-size:8px;
        font-family:Verdana,sans-serif;
        color:#FFFFFF;
        height:23px;
        background-color:#336600;
        border-color:#336600;
        font-weight:bold;
}

.post_button {
        font-size:20px;
        font-family:Verdana,sans-serif;
        color:#FFFFFF;
        height:40px;
        width : 80px;
        background-color:#336600;
        border-style:none;
        border-color:#336600;
        font-weight:bold;
        float:right;
}

.post_button:hover { 
        background-color: #669900;
        cursor:pointer;
}

.menu_button:hover { 
        background-color: #669900;
        cursor:pointer;
}

.search_box {
         position:absolute;
         font-family:Verdana,sans-serif;
         color:#FFFFFF;
         size: 120;
         top: 5px;
         left: 1px;
}

.search_button {
         position:absolute;
         top: 7px;
         left: 240px;
}

/* Navigation */


nav {
        float:right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  font-weight: bold;
}

.field {
        color:#336600;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
        color:green;
  list-style: none;
}

.link_to {
        color:#000;
}
/*
table.micropost, table.comment  {
        background-color:#fff;
        border:none;
}
table tr td.microposts {
        background-color:#fff;
        color:#000;
}`

table tr td.comments_box {
        background-color:#fff;
}

table tr td.comments {
        background-color:#fff;
        color:#336600;
}*/

.user_info  span.name{
         font-size: 150%;
         position:relative;
         color: #336600;
         z-index:1
}
.user_info span.user_info {
  display: block;
  font-size: 85%;
  color: #336600;
}
.h_line {
        background-color:green;
        color:green;

}
form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}


table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  border-top: 3px solid #336600;
  height: 30px;
}

table.microposts tr td.micropost {
  color:#336600;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.content {
        font-style: bold;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}


table.comments tr td.content {
        border-bottom:1px solid green;
        background-color:#e6efc2;
        color:#000;
        margin-top: 1em;
}

table.comments tr td.close {
  vertical-align:top;
}

table.microposts tr td.comment {
  vertical-align:top;
}

table.comments tr td.content span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}
